
* {
  box-sizing: border-box;
}

body {
	font-size: 120%;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
}


header {
	text-align: center;
	font-size: 175%;
	font-weight: bold;
	margin: 12px;
}

footer {
	text-align: right;
	font-size: 50%;
	font-style: italic;
	float: right;
	clear: both;
	margin: 24px;
}

/* Container for single recipe. Created to avoid issues with margins */
.recipe_container {
	margin: 0px;
	padding: 0px;
}

.recipies {
	padding: 0px;
	margin: 0px;
	padding-left: 12px;
	padding-right: 12px;
}

.note {
	font-style: italic;
}

.recipe {
	background-color: lightgrey;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding: 0px;
	margin-bottom: 24px;
	margin: 12px;
}

.recipe_content {
	clear: both;
	margin: 16px;
}


.recipe_title {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	font-size: 125%;
	font-weight: bold;
	padding: 8px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 18px;
	width: 40%;	
	overflow-wrap: break-word;
	text-align: center;
	position: relative;
	float: right;
	top: -1px; 		/* Adjust for borders	*/
	right: -1px;

}

#recipe_title_1 {
	background-color: yellow;
}

#recipe_title_2 {
	background-color: lightgreen;
}

#recipe_title_3 {
	background-color: pink;
}



/* Desktop version */
@media (min-width: 992px) {
  .recipe_container {
  	width: 33.33%;
	float: left;
  }   
}


/* Tablet version */
@media (min-width: 768px) and (max-width: 991px) {
  .recipe_container {
  	width: 50%;
	float: left;
  }   
	#recipe3 {
		width: 100%;
		float: left;
		clear: both;
	}   
}


/* Phone version */
@media (max-width: 767px){
  .recipe_container {
  	width: 100%;
	float: left;
  } 
}